* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.collared-background {
    background: black;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 150px;
    left: 240px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 199px;
    height: 33px;
    top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.logo-text {
    width: 125px;
    height: 31px;
    top: 2px;
    left: 74px;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo-img{
    width: 49px;
    height: 26px;
    color: #FFFFFF;
}

.main-nav {
  width: 775px;
  height: 26px;
  top: 62px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.main-nav ul{
  display: flex;
  list-style: none;
  font-weight: 200;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  gap: 39px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-family: Roboto;
}

.main-nav a:hover {
  color: #9D8665;
}

.main-nav a:active {
  color: #710707;
}

.welcome {
    width: 1440px;
    height: 810px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: black;
    box-sizing: border-box;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.welcome-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome-text {
    color: white;
    max-width: 598px;
    height: 388px;
    top: 150px;
    z-index: 2;
}

.welcome-header-text {
    font-size: 80px;
    font-weight: 400;
    font-family: Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.welcome-paragraph {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.welcome-button {
    width: 360px;
    height: 75px;
    top: 313px;
    margin-top: 80px;
    border-radius: 10px;
    display: inline-block;
    background-color: #710707;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.welcome-button:hover {
    background-color: #9D8665;
    color: #000000;
}

.welcome-button:active {
    background-color: #710707;
    color: #FFFFFF;
}

.welcome-button-link {
    color: #FFFFFF;
    text-decoration: none;
}

.welcome-img {
    position: absolute;
    width: 1000px;
    height: 750px;
    right: 0;
    z-index: 1;
}

.welcome-panel {
    width: 600px;
    height: 120px;
    gap: 55px;
    padding: 40px 75px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.welcome-panel-numbers {
    width: 76px;
    height: 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-panel-numbers-text{
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-panel-square-container{
    width: 180px;
    height: 16px;
    top: 742px;
    left: 605px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.welcome-panel-square {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
}

.welcome-panel-img {
    width: 80px;
    height: 8px;
    gap: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visiting {
    width: 1440px;
    height: 1116px;
    top: 885px;
    background-color: #FFFFFF;
}

.visiting-text-header {
    width: 1440px;
    height: 90px;
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.visiting-rectangle {
    background-color: #710707;
    height: 3px;
    width: 1440px;
    top: 115px;
}

.visiting-places {
    width: 1440px;
    height: 1026px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card-link {
    text-decoration: none;
    color: #000000;
}

.card {
    width: 440px;
    height: 424px;
}

.card-img {
    width: 440px;
    height: 285px;
    object-fit: cover;
}

.card-header {
    width: 100%;
    height: 35px;
    top: 310px;
    font-family: Forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin: 16px 0;
}

.card-rectangle {
    width: 300px;
    height: 2px;
    background-color: #710707;
}

.card-rectangle:hover {
    background-color: #710707;
    width: 100%;
}

.card-rectangle:active {
    background-color: #710707;
    width: 100%;
}

.visiting-paragraph-1 {
    width: 165px;
    height: 26px;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

}

.visiting-paragraph-2 {
    width: 240px;
    height: 21px;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.explore {
    width: 1440px;
    height: 865px;
    margin-top: 75px;
    background-color: #000000;
    gap: 40px;
}

.explore-block-text {
    width: 720px;
    height: 715px;
    float: left;
}
.explore-block-img {
    width: 720px;
    height: 700px;
    float: right;
    position: relative;
}

.explore-text {
    width: 1440px;
    height: 715px;
}
.explore-text-header {
    width: 660px;
    height: 90px;
    padding-top: 90px;
    margin-bottom: 30px;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.explore-rectangle {
    width: 660px;
    height: 3px;
    background-color: #710707;
    margin-bottom: 60px;
    margin-top: 100px;
}

.explore-text-paragraph {
    width: 660px;
    height: 77px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.explore-text-paragraph span.yellow-veil {
    color: #9D8665;
    font-weight: 300;
}

.explore-text-img-new {
    width: 440px;
    height: 700px;
    padding-top: 90px;
    z-index: 2;
    position: absolute;
}

.explore-text-img-old {
    width: 720px;
    height: 700px;
    padding-top: 90px;
    z-index: 1;
    position: absolute;
}

.explore-text-img-slider {
    width: 39px;
    height: 700px;
    margin-left: 425px;
    color: #FFFFFF;
    padding-top: 90px;
    z-index: 3;
    position: absolute;
}

.video {
    width: 1440px;
    height: 1246px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}

.video-main-text {
    width: 1440px;
    height: 165px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-main-img {
    width: 1440px;
    height: 650px;
}

.video-main-text-header {
    width: 700px;
    height: 90px;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.video-main-text-paragraph {
    width: 720px;
    height: 90px;
    margin-top: 30px;
    float: right;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.video-play-img {
    width: 220px;
    height: 220px;
    margin-top: -60px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-main-pannel-img {
    width: 1440px;
    height: 85px;
    margin-top: -10px;
}

.video-secondary {
    width: 1440px;
    height: 254px;
    margin-top: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.video-secondary-1 {
    width: 440px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-secondary-2 {
    width: 440px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-secondary-3 {
    width: 440px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-secondary-name-img {
    width: 406px;
    height: 40px;
    top: 0;
    margin-top: 10px;
    margin-right: 20px;
    position: absolute;
    z-index: 2;
}

.video-secondary-play-img {
    width: 68px;
    height: 48px;
    position: absolute;
    z-index: 2;
}

.video-secondary-img {
    width: 440px;
    height: 254px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.video-pagination {
    width: 100%;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.gallery {
    width: 1440px;
    height: 2125px;
}

.gallery-text-header {
    width: 518px;
    height: 90px;
    margin-top: 130px;
    padding-top: 75px;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.art-gallery-container {
    width: 1440px;
    height: 2035px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    position: relative;
}

.gallery-art-container-1 {
    width: 489px;
    height: 100%;
    padding-top: 185px;
    text-align: left;
}

.gallery-art-container-2 {
    width: 489px;
    height: 100%;
    padding-top: 135px;
    text-align: center;
}

.gallery-art-container-3 {
    width: 489px;
    height: 100%;
    padding-top: 195px;
    text-align: right;
}

.gallery-art-transparent {
    width: 1440px;
    height: 360px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.tickets {
    width: 1440px;
    height: 743px;
}

.tickets-text-header {
    width: 472px;
    height: 90px;
    padding-top: 75px;
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.tickets-rectangle {
    width: 1440px;
    height: 3px;
    background-color: #710707;
    margin-top: 100px;
}

.tickets-type {
    width: 270px;
    height: 111px;
}

.tickets-type-header {
    width: 156px;
    height: 33px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.tickets-type ul {
    width: 270px;
    height: 26px;
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.tickets-type ul {
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

.tickets-amount {
    width: 150px;
    height: 341px;
}

.tickets-amount-header {
    width: 100px;
    height: 33px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.tickets-amount-frame {
    width: 150px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickets-amount-text {
    width: 150px;
    height: 26px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}